body {
  width: 400px;
}

#popup_whole_row {
  margin: 0 0 !important;
}

#popup_whole_col {
  padding: 0 0 !important;
}

.card {
  margin: 0 0 !important;
}

.card .card-content {
  overflow: hidden;
}

.card .card-content .card-title {
  margin-bottom: 45px;
}

#extension_name {
  padding: 0 0 !important;
}

.option_row {
  height: 30px;
  margin-top: 20px;
  clear: both;
}

.switch {
  -webkit-transform: translateY(70%);
  -ms-transform: translateY(70%);
  transform: translateY(70%);
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #ea6;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #f93;
}
